.button {
  height: 9vh;
  display: inline-block;
  width: 30%;
  padding: 2vh 2vh;
  font-size: 29px;
  text-transform: uppercase;
  text-align: start;
  align-self: flex-end;
  border-radius: 10px;
  border: transparent;
  background-color:#9b9b9b;
  color: white;
  font-stretch: condensed;

  margin-right: 40px;
}

.button:hover {
transition: 0.3s;
background-color: #013226 ;

}