.counter {

  width: 100%;
  display: flex;
  flex-flow: column wrap;
  padding-top: 50px;
  padding-bottom: 30px;
  background-color: #F2F6F5;
  border-bottom-left-radius: 13%;
  border-bottom-right-radius: 13%;
  border-bottom: 1px solid rgb(155, 216, 147);
  /* box-shadow: inset 2px -12px 5px -7px rgba(0,0,0,0.28); */
}

.info {
  padding-left: 15px;
}

.info span {
  font-size: 40px;
  text-decoration: none;
  font-weight: bold;
  color: #00664D;

}

.info p {
  font-size: 23px;
  font-stretch: condensed;
  margin-top: 0px;
}


.table {
  width: 80%;
  align-self: center;
}


.table th {
  text-align:left;
  font-size: 80px;
  /* font-family: 'bebas'; */
  font-stretch: condensed;
  font-weight: 800;
  color: #00664D;
  text-transform: uppercase;
  padding: 0px 15px;
  border-right: 3px solid rgb(155, 216, 147);

}

.table td {
  border-right: 3px solid rgb(155, 216, 147);

}

.bigNums {

  font-size: 110px;
  font-weight: bolder;
  padding-left: 15px;
}

.orange {
  color: #E6981A;
}

.red {
  color: #eb1212;
}

.green {
  color: #009B75;
}