                    .row{

                        width: 100%;
                        display: flex;
                        flex-flow: row wrap;
                        justify-content: space-between;
                    }


                    .wrapper {

                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding-top: 100px;
                    }

                    .content {

                        width: 70%;
                    }


                    .small {

                        font-size: 20px;
                    }

                    .registred {

                        font-size: 20px;
                    
                        display: flex;
                    
                        margin: 20px 0px;
                    } 
                    
                    .registred p {
                        margin: 0px 6px 0 0 ;
                    }
                    
                    .link {
                    
                        margin-left: 30;
                        text-decoration: underline;
                        color: red;
                    
                    } 


                    #mapid {

                        height: 500px; 
                        filter: grayscale(100%) sepia(100%) brightness(58%) hue-rotate(251deg) saturate(197%) contrast(199%) invert(100%);
                        -webkit-filter: grayscale(100%) sepia(100%) brightness(58%) hue-rotate(251deg) saturate(197%) contrast(199%) invert(100%);
                        -moz-filter: grayscale(100%) sepia(100%) brightness(58%) hue-rotate(251deg) saturate(197%) contrast(199%) invert(100%);}
                    