@font-face {
  font-family: 'Anton';
  src: url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
}

body {
  margin: 0;
  font-family: 'Arial' ;
  width: 100vw;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
