.wrapper {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.content {

    width: 80%;

}

.registred {

    font-size: 20px;

    display: flex;

    margin: 20px 0px;
}

.registred p {
    margin: 0px 6px 0 0 ;
}

.link {

    margin-left: 30;
    text-decoration: underline;
    color: red;

}



.form form{

    width: 90%;
    display: flex;
    flex-flow: column wrap;
    height: 60vh;
    justify-content: space-between;
}








